@import "/_normalize.scss";
@import "/_smart-grid.scss";
img {
    max-width: 100%;
    height: auto;
}

.items {
    @include row-flex;
    .item {
        @include row-flex;
        @include col;
        @include col-4;
        @include col-md-6;
        @include col-xs-12;
        padding: 10px 0 ; 

        .item-img{
            @include col;
            @include col-12;
        }

        .item-body{
            @include col;
            @include col-12;
        }
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}