@import "/_normalize.scss";
@import "/mixins/_smart-grid.scss";
@import "./mixins/_margins.scss";
@import "./mixins/_padding.scss";
@import "./mixins/_others.scss";
@include reset;
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    @include respond-to($break_lg) {
        font-size: 1.7rem;
    }
    @include respond-to($break_md) {
        font-size: 1.8rem;
    }
    @include respond-to($break_sm) {
        font-size: 1.9rem;
    }
    @include respond-to($break_xs) {
        font-size: 2.0rem;
    }
}

img {
    max-width: 100%;
    height: auto;
}

.conteiner {
    @include wrapper;
}

.items {
    @include row-flex;
    .item {
        @include col;
        @include justify-content(center);
        @include col-4;
        @include col-md-6;
        @include col-xs-12;
        padding: 10px 0;
        .item-img {
            /*@include col;
            @include col-12;*/
        }
        .item-body {
            /*@include col;
            @include col-12;*/
        }
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


/*Адаптивное меню*/

%menu-el-prop {
    color: purple;
    font-weight: bold;
}

.menu-wrapper {
    background-color: #eee;
    position: relative;
    .menu-toggle {
        @extend %menu-el-prop;
        padding: 10px 15px;
        cursor: pointer;
        display: none;
        @include respond-to($break_xs) {
            display: block;
        }
    }
    .menu {
        @include respond-to($break_xs) {
            display: none;
            position: absolute;
            top: 100%;
            background-color: #eee;
            width: 100%;
            z-index: 1;
        }
        li {
            float: left;
            @include respond-to($break_xs) {
                float: none;
                border-top: 1px solid #d9d9d9;
            }
            a {
                display: inline-block;
                padding: 10px 15px;
                text-decoration: none;
                border-left: 3px solid transparent;
                @extend %menu-el-prop;
                @include respond-to($break_xs) {
                    &:hover {
                        border-left: 3px solid purple;
                    }
                }
            }
        }
    }
}


/*Адаптивный фрейм*/

iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.relation {
    position: relative;
    .relation__padding_16x9 {
        padding-top: 56.25%; //9:16 * 100 
    }
}

/*Своя адаптивная сетка*/

.row{
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
}

.col{
    text-align: center;
    flex-basis: 300px;

    img{
        max-width: 100%;
        display: inline-block; 
    }

}


.col-style{
    border: 1px solid yellow;
    background-color: gray;
    min-height: 400px;
    text-align: center;
}